In [ ]:
#1_read all data
SELECT * FROM purchase_order_tm;

In [ ]:
#2_data type
SELECT 
    COLUMN_NAME,
    DATA_TYPE_NAME
FROM 
    "SYS"."TABLE_COLUMNS"
WHERE 
    TABLE_NAME = 'PURCHASE_ORDER_TM';

In [ ]:
#3_detect duplicate value of eventID
SELECT 
    "eventID",
    COUNT(*) AS duplicate_count
FROM 
    purchase_order_tm
GROUP BY 
    "eventID"
HAVING 
    COUNT(*) > 1;

In [ ]:
#4_detect missing value
SELECT 
    'eventID' AS column_name, 
    COUNT(*) - COUNT("eventID") AS count_null,
    COUNT(*) - COUNT(*) AS missing_value
FROM 
    purchase_order_tm
UNION ALL
SELECT 
    'caseID' AS column_name, 
    COUNT(*) - COUNT("caseID") AS count_null,
    COUNT(*) - COUNT(*) AS missing_value
FROM 
    purchase_order_tm
UNION ALL
SELECT 
    'purchasing_document' AS column_name, 
    COUNT(*) - COUNT("purchasing_document") AS count_null,
    COUNT(*) - COUNT(*) AS missing_value
FROM 
    purchase_order_tm
UNION ALL
SELECT 
    'item' AS column_name, 
    COUNT(*) - COUNT("item") AS count_null,
    COUNT(*) - COUNT(*) AS missing_value
FROM 
    purchase_order_tm
UNION ALL
SELECT 
    'activity' AS column_name, 
    COUNT(*) - COUNT("activity") AS count_null,
    COUNT(*) - COUNT(*) AS missing_value
FROM 
    purchase_order_tm
UNION ALL
SELECT 
    'purch_doc_category_name' AS column_name, 
    COUNT(*) - COUNT("purch_doc_category_name") AS count_null,
    COUNT(*) - COUNT(*) AS missing_value
FROM 
    purchase_order_tm
UNION ALL
SELECT 
    'item_category' AS column_name, 
    COUNT(*) - COUNT("item_category") AS count_null,
    COUNT(*) - COUNT(*) AS missing_value
FROM 
    purchase_order_tm
UNION ALL
SELECT 
    'goods_receipt' AS column_name, 
    COUNT(*) - COUNT("goods_receipt") AS count_null,
    COUNT(*) - COUNT(*) AS missing_value
FROM 
    purchase_order_tm
UNION ALL
SELECT 
    'gr_based_iv' AS column_name, 
    COUNT(*) - COUNT("gr_based_iv") AS count_null,
    COUNT(*) - COUNT(*) AS missing_value
FROM 
    purchase_order_tm
UNION ALL
SELECT 
    'document_type' AS column_name, 
    COUNT(*) - COUNT("document_type") AS count_null,
    COUNT(*) - COUNT(*) AS missing_value
FROM 
    purchase_order_tm
UNION ALL
SELECT 
    'item_type' AS column_name, 
    COUNT(*) - COUNT("item_type") AS count_null,
    COUNT(*) - COUNT(*) AS missing_value
FROM 
    purchase_order_tm
UNION ALL
SELECT 
    'spend_classification_text' AS column_name, 
    COUNT(*) - COUNT("spend_classification_text") AS count_null,
    COUNT(*) - COUNT(*) AS missing_value
FROM 
    purchase_order_tm
UNION ALL
SELECT 
    'spend_area_text' AS column_name, 
    COUNT(*) - COUNT("spend_area_text") AS count_null,
    COUNT(*) - COUNT(*) AS missing_value
FROM 
    purchase_order_tm
UNION ALL
SELECT 
    'subspend_area_text' AS column_name, 
    COUNT(*) - COUNT("subspend_area_text") AS count_null,
    COUNT(*) - COUNT(*) AS missing_value
FROM 
    purchase_order_tm
UNION ALL
SELECT 
    'company' AS column_name, 
    COUNT(*) - COUNT("company") AS count_null,
    COUNT(*) - COUNT(*) AS missing_value
FROM 
    purchase_order_tm
UNION ALL
SELECT 
    'source' AS column_name, 
    COUNT(*) - COUNT("source") AS count_null,
    COUNT(*) - COUNT(*) AS missing_value
FROM 
    purchase_order_tm
UNION ALL
SELECT 
    'vendor' AS column_name, 
    COUNT(*) - COUNT("vendor") AS count_null,
    COUNT(*) - COUNT(*) AS missing_value
FROM 
    purchase_order_tm
UNION ALL
SELECT 
    'vendor_name' AS column_name, 
    COUNT(*) - COUNT("vendor_name") AS count_null,
    COUNT(*) - COUNT(*) AS missing_value
FROM 
    purchase_order_tm
UNION ALL
SELECT 
    'timestamp' AS column_name, 
    COUNT(*) - COUNT("timestamp") AS count_null,
    COUNT(*) - COUNT(*) AS missing_value
FROM 
    purchase_order_tm
UNION ALL
SELECT 
    'event_user' AS column_name, 
    COUNT(*) - COUNT("event_user") AS count_null,
    COUNT(*) - COUNT(*) AS missing_value
FROM 
    purchase_order_tm
UNION ALL
SELECT 
    'event_resource' AS column_name, 
    COUNT(*) - COUNT("event_resource") AS count_null,
    COUNT(*) - COUNT(*) AS missing_value
FROM 
    purchase_order_tm;

In [ ]:
#5_unique value column count
SELECT column_name, count_unique_value
FROM (
    SELECT 'eventID' AS column_name, COUNT(DISTINCT "eventID") AS count_unique_value FROM purchase_order_tm
    UNION ALL
    SELECT 'caseID' AS column_name, COUNT(DISTINCT "caseID") AS count_unique_value FROM purchase_order_tm
    UNION ALL
    SELECT 'purchasing_document' AS column_name, COUNT(DISTINCT "purchasing_document") AS count_unique_value FROM purchase_order_tm
    UNION ALL
    SELECT 'item' AS column_name, COUNT(DISTINCT "item") AS count_unique_value FROM purchase_order_tm
    UNION ALL
    SELECT 'activity' AS column_name, COUNT(DISTINCT "activity") AS count_unique_value FROM purchase_order_tm
    UNION ALL
    SELECT 'vendor' AS column_name, COUNT(DISTINCT "vendor") AS count_unique_value FROM purchase_order_tm
    UNION ALL
    SELECT 'vendor_name' AS column_name, COUNT(DISTINCT "vendor_name") AS count_unique_value FROM purchase_order_tm
    UNION ALL
    SELECT 'event_user' AS column_name, COUNT(DISTINCT "event_user") AS count_unique_value FROM purchase_order_tm
    UNION ALL
    SELECT 'event_resource' AS column_name, COUNT(DISTINCT "event_resource") AS count_unique_value FROM purchase_order_tm
) AS counts;

In [ ]:
#6_list activity
SELECT DISTINCT "activity" AS "list_activity"
FROM purchase_order_tm;

In [ ]:
#7_unique value identify
SELECT 'purch_doc_category_name' AS column_name, "purch_doc_category_name" AS unique_value FROM (
    SELECT DISTINCT "purch_doc_category_name" FROM purchase_order_tm
) AS t1
UNION ALL
SELECT 'document_type' AS column_name, "document_type" AS unique_value FROM (
    SELECT DISTINCT "document_type" FROM purchase_order_tm
) AS t2
UNION ALL
SELECT 'item_type' AS column_name, "item_type" AS unique_value FROM (
    SELECT DISTINCT "item_type" FROM purchase_order_tm
) AS t3
UNION ALL
SELECT 'spend_classification_text' AS column_name, "spend_classification_text" AS unique_value FROM (
    SELECT DISTINCT "spend_classification_text" FROM purchase_order_tm
) AS t4
UNION ALL
SELECT 'spend_area_text' AS column_name, "spend_area_text" AS unique_value FROM (
    SELECT DISTINCT "spend_area_text" FROM purchase_order_tm
) AS t5
UNION ALL
SELECT 'subspend_area_text' AS column_name, "subspend_area_text" AS unique_value FROM (
    SELECT DISTINCT "subspend_area_text" FROM purchase_order_tm
) AS t6
UNION ALL
SELECT 'company' AS column_name, "company" AS unique_value FROM (
    SELECT DISTINCT "company" FROM purchase_order_tm
) AS t7
UNION ALL
SELECT 'source' AS column_name, "source" AS unique_value FROM (
    SELECT DISTINCT "source" FROM purchase_order_tm
) AS t8;

In [ ]:
#8_vendor and vendor_name identify
SELECT 
    COUNT (*) "vendor"
FROM 
    purchase_order_tm
WHERE 
    "vendor" = "vendor_name";

In [ ]:
#9_event_user and event_resource identify
SELECT 
    COUNT (*) "event_user"
FROM 
    purchase_order_tm
WHERE 
    "event_user" <> "event_resource";

In [ ]:
#10_event_user count details identify
SELECT 
    COUNT(CASE WHEN "event_user" LIKE 'user%' THEN 1 END) AS count_user_event_user,
    COUNT(CASE WHEN "event_user" LIKE 'batch%' THEN 1 END) AS count_batch_event_user,
    COUNT(CASE WHEN "event_user" = 'NONE' THEN 1 END) AS count_none_event_user,
    COUNT(CASE WHEN "event_user" IS NULL THEN 1 END) AS count_null_event_user,
    COUNT(CASE WHEN "event_user" NOT LIKE 'user%' AND "event_user" NOT LIKE 'batch%' AND "event_user" <> 'NONE' AND "event_user" IS NOT NULL THEN 1 END) AS count_other_event_user
FROM 
    purchase_order_tm;

In [ ]:
#11_event_cumulative_net_worth identify
SELECT 
    MIN("event_cumulative_net_worth") AS min_event_cumulative_net_worth,
    AVG("event_cumulative_net_worth") AS avg_event_cumulative_net_worth,
    MAX("event_cumulative_net_worth") AS max_event_cumulative_net_worth
FROM 
    purchase_order_tm;

In [ ]:
#12_compliance flows identify
SELECT 
    "item_category", 
    "goods_receipt", 
    "gr_based_iv", 
    COUNT(DISTINCT "caseID") AS count_caseID
FROM 
    purchase_order_tm
GROUP BY 
    "item_category", 
    "goods_receipt", 
    "gr_based_iv";

In [ ]:
#13_count activity by flows
SELECT 
    "item_category", 
    "activity", 
    COUNT(*) AS count_distinct
FROM 
    purchase_order_tm
GROUP BY 
    "item_category", 
    "activity";

In [ ]:
#14_doc & item type identify
SELECT 
    "document_type", 
    "item_type", 
    COUNT(DISTINCT "caseID") AS count_caseID
FROM 
    purchase_order
GROUP BY 
    "document_type", 
    "item_type";

In [ ]:
#15_spend classification & spend area text identify
SELECT 
    "spend_classification_text", 
    "spend_area_text", 
    COUNT(DISTINCT "caseID") AS count_caseID
FROM 
    purchase_order
GROUP BY 
    "spend_classification_text", 
    "spend_area_text";

In [ ]:
#16_spend & subspend identify
SELECT 
    "spend_area_text", 
    "subspend_area_text", 
    COUNT(DISTINCT "caseID") AS count_caseID
FROM 
    purchase_order
GROUP BY 
    "spend_area_text", 
    "subspend_area_text";

In [ ]:
#17_spend classification text details
SELECT 
    "spend_classification_text", 
    "spend_area_text", 
    "subspend_area_text", 
    COUNT(DISTINCT "caseID") AS count_caseID
FROM 
    purchase_order
GROUP BY 
    "spend_classification_text", 
    "spend_area_text", 
    "subspend_area_text";

In [ ]:
#18_item_category and spend_area_text identify
SELECT 
    "item_category", 
    "spend_area_text", 
    COUNT(DISTINCT "caseID") AS count_caseID
FROM 
    purchase_order_fixyear
GROUP BY 
    "item_category", 
    "spend_area_text";

Conclusion:

1. eventID has no missing values and duplicate data (used as PrimaryKey).
2. Each column has no empty rows.
3. Only columns "spend_classification_text", "spend_area_text", and "subspend_area_text" have null values.
4. No identified typos.
5. vendor <> with vendor_name.
6. event_user = event_resource (can be chosen one).
7. All compliance for 4 types of flows have been met.
8. Timestamp needs improvement.